<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Elsewhere</title>
</head>
<body>

<h1>Elsewhere</h1>

<h2>Social Networks</h2>
{% if request.user.social_network_profiles.all %}
    <ul>
    {% for profile in request.user.social_network_profiles.all %}
        <li>
            <img src="{{ profile.icon }}" alt="{{ profile.name }}">
            <a href="{{ profile.url }}" rel="me">{{ profile.name }}</a>
            <form id="delete-network-{{ profile.id }}" method="post" action=".">
                <input type="hidden" name="delete_id" value="{{ profile.id }}">
                <input type="submit" name="delete-sn-form" value="Delete" class="button">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No social network profiles.</p>
{% endif %}

<h3>Add a Social Network</h3>
<form method="post" action=".">
    {{ sn_form.as_p }}
    <p><input type="submit" name="sn-form" value="Add Social Network" class="button"></p>
</form>

<br>

<h2>Instant Messengers</h2>
{% if request.user.instant_messenger_profiles.all %}
    <ul>
    {% for profile in request.user.instant_messenger_profiles.all %}
        <li>
            <img src="{{ profile.icon }}" alt="{{ profile.name }}">
            {{ profile.name }}: <a href="{{ profile.url }}">{{ profile.username }}</a>
            <form id="delete-messenger-{{ profile.id }}" method="post" action=".">
                <input type="hidden" name="delete_id" value="{{ profile.id }}">
                <input type="submit" name="delete-im-form" value="Delete" class="button">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No instant messenger profiles.</p>
{% endif %}

<h3>Add an Instant Messenger</h3>
<form method="post" action=".">
    {{ im_form.as_p }}
    <p><input type="submit" name="im-form" value="Add Instant Messenger" class="button"></p>
</form>

<br>

<h2>Websites</h2>
{% if request.user.website_profiles.all %}
    <ul>
    {% for profile in request.user.website_profiles.all %}
        <li>
            <img src="{{ profile.icon }}" alt="{{ profile.name }}">
            <a href="{{ profile.url }}" rel="me">{{ profile.name }}</a>
            <form id="delete-website-{{ profile.id }}" method="post" action=".">
                <input type="hidden" name="delete_id" value="{{ profile.id }}">
                <input type="submit" name="delete-w-form" value="Delete" class="button">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No website profiles.</p>
{% endif %}

<h3>Add a Website</h3>
<form method="post" action=".">
    {{ w_form.as_p }}
    <p><input type="submit" name="w-form" value="Add Website" class="button"></p>
</form>

</body>
</html>