<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Social Network Settings</title>
    <style type="text/css">
        div.form-error {
          color: #f00
        }
    </style>
</head>
<body>
<h1>My Social Networks</h1>

<a href="/social_networks">View Social Networks</a> : Add Social Networks

<p>Link to your other social network profiles and let your friends know where else you are online.</p>

{% if statusmsg %}
    <div class="form-error">{{ statusmsg }}</div>
{% endif %}

{% if errormsg %}
    <div class="form-error">{{ errormsg }}</div>
{% endif %}

<h3>Social Network</h3>
<form id="add-network" method="post" action=".">
    {{ sn_form.form_name }}
    <div>
        <label for="id_network_id">Social Network</label> {{ sn_form.network_id }}
        {% if sn_form.errors.network_id %}<div class="form-error">{{ sn_form.errors.network_id|join:" " }}</div>{% endif %}
    </div>
    <div>
        <label for="id_username">Username / user id</label> {{ sn_form.username }}
        {% if sn_form.errors.username %}<div class="form-error">{{ sn_form.errors.username|join:" " }}</div>{% endif %}
    </div>
    <div><input type="submit" value="Add Social Network" class="button" /></div>
</form>

<h3>Instant Messenger</h3>
<form id="add-messenger" method="post" action=".">
    {{ im_form.form_name }}
    <div>
        <label for="id_messenger_id">Service</label> {{ im_form.messenger_id }}
        {% if im_form.errors.messenger_id %}<div class="form-error">{{ im_form.errors.messenger_id|join:" " }}</div>{% endif %}
    </div>
    <div>
        <label for="id_username">Username</label> {{ im_form.username }}
        {% if im_form.errors.username %}<div class="form-error">{{ im_form.errors.username|join:" " }}</div>{% endif %}
    </div>
    <div><input type="submit" value="Add Instant Messenger" class="button" /></div>
</form>

<h3>Other Website</h3>
<form id="add-website" method="post" action=".">
    {{ w_form.form_name }}
    <div>
        <label for="id_name">Label</label> {{ w_form.name }}
        {% if w_form.errors.name %}<div class="form-error">{{ w_form.errors.name|join:" " }}</div>{% endif %}
        <h4>example: My Weblog</h4>
    </div>
    <div>
        <label for="id_url">URL</label> {{ w_form.url }}
        {% if w_form.errors.url %}<div class="form-error">{{ w_form.errors.url|join:" " }}</div>{% endif %}
        <h4>example: http://leahculver.com</h4>
    </div>
    <div><input type="submit" value="Add Website" class="button" /></div>
</form>

</body>
</html>